{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<h2>{{ this.title }}</h2>
{{ this.body }}
<ul class="list-group">
  <li class="list-group-item">
 <div class="media">
    <img class="mr-3" src="{{ '/lessons.png'|url }}" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1"><a href="{{ '/lessons'|url }}">Lessons</a></h5>
      Start here.
    </div>
        </div>
  </li>
  <li class="media list-group-item"><div class="media">
    <img class="mr-3" src="{{ '/apps.png'|url }}" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1"><a href="{{ '/apps'|url }}">Apps</a></h5>
      Recomended apps
    </div> </div>
  </li>
  <li class="list-group-item"><div class="media">
    <img class="mr-3" src="{{ '/books.png'|url }}" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1"><a href="{{ '/books'|url }}">Books</a></h5>      Recomended Books
    </div> </div>
  </li>
  <li class="list-group-item"><div class="media">
    <img class="align-self-center mr-3" src="{{ '/any.png'|url }}" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1"><a href="{{ '/links'|url }}">Links</a></h5>
      Recomended Japanese language learning websites
    </div> </div>
  </li>
</ul>
{% endblock %}
