{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h2>{{ this.title }}</h2>
  {{ this.body }}
  	{% set siblings = this.get_siblings() %}
    {% set older = siblings.prev_page  %}
    {% set newer = siblings.next_page %}
    <nav aria-label="Lesons">
        <ul class="pagination justify-content-center">
        {% if older %}
          <li class="page-item">
            <a class="page-link" href="{{ older|url }}"><span aria-hidden="true">&laquo;</span> {{ older.title }}</a>
          </li>
        {% endif %}
        {% if newer %}
          <li class="page-item">
            <a class="page-link" href="{{ newer|url }}"> {{ newer.title }}  <span aria-hidden="true">&raquo;</span></a>
          </li>
        {% endif %}
        </ul>
</nav>
{% endblock %}
